.claimsuccess{
    @media(min-width: 1200px){
        padding: 20vh 0;
    }

    .claimthanks{
        max-width: 900px;
        margin: auto;        
    }
    .claim_acccreated{
        max-width: 800px;
        margin: auto;    
    }
    h1,.h1{
        margin-bottom: 20px;
    }

    .nexbtn{
        margin: 15px 0 0 0;
    }
}