body .chart_box{
	color: #222;
	font: 12px/20px 'Helvetica Neue', Arial, sans-serif;
	padding: 0;
}

/* Table */
#graphtable {
	border: none; /* Turn off all borders */
	border-top: 1px solid #ccc;
	width: 100%;
}
#graphtable caption {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
#graphtable thead {
	background: #f0f0f0;
}
#graphtable th, 
#graphtable td {
	border: none; /* Turn off all borders */
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	text-align: left;	
}


#graphtable {
	display: none;
}
.bar span {
	
}
.fig0 {
	
	background: #fff url(../public/images/smlbar1.png) 0 0 repeat;
	/* background: #212121; */
	background-size: 90px;
	/* background-position: top -1px left -1px; */
	border: 1px solid #aeaeae;
}

.fig1 {	
	background: #d7b865;
	border: 1px solid #d7b865;
}

.fig2 {	
	background: #eea151;
}

#figure ul.legend{
	    list-style: none;
	    margin: 29px 0 0 0;
	    padding: 0;
	    bottom: auto;
	    top: 35%;
	    transform: translateY(-50%);
	    right: -60px;
	    width: 60px;
	    background: none;
	    display: flex;
	    flex-wrap: wrap;
	    flex-flow: column-reverse;
}

/* Toggle */
.toggles {
	background: #ebebeb;	
	color: #545454;
	height: 20px;
	padding: 15px;
}
.toggles p {
	margin: 0;
}
.toggles a {
	background: #222;
	border-radius: 3px;	
	color: #fff;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 6px;
	text-decoration: none;
}
.toggles a:hover {
	background: #666;
}
#reset-graph-button {
	float:right;
}

/* Graph */

.chart h3 , .chart h4{
	text-align: center;
	margin-bottom: 20px;
}
/* Containers */
#wrapper {
	margin: 0 auto;
	position: static;
	max-width: 605px;
}
#figure {
	height: 410px;
	position: relative;
}
#figure ul {
	list-style: none;
	margin: 29px 0 0 0;
	padding: 0;
}

#figure ul.x-axis{
	top: 100%;
	margin: 15px -1px;
	border-top: 1px solid #000;
	border-top: 0px;
	width: calc(100% + 2px);
}
.graph {
	height: 344px;
	position: relative;
	border: 1px solid #000;
	margin: 0 auto 62px;
	z-index: 1;
	border-top: 0px;
	border-right: 0px;
}


/* Legend */
.legend {
	background: #f0f0f0;
	border-radius: 4px;
	bottom: 0;
	position: absolute;
	text-align: left;
	width: 540px;
}
.chart_box .legend li {
	display: flex;
	/* height: 29px;
	margin: 0; */
	margin-bottom: 3px;
	padding: 5px 30px;
	width: 170px;
	font-weight: bold;
	background: none;
}

.chart_box .legend li{
		text-transform: capitalize;
	}


.legend span.icon {
	/* background-position: 50% 0; */
	border-radius: 2px;
	display: block;
	float: left;
	height: 16px;
	margin: 2px 10px 0 0;
	width: 16px;
}

/* X-Axis */
.chart_box .x-axis {
	top: calc(100% - 20px);
	color: #555;
	position: absolute;
	text-align: center;
	width: 588px;
}
.chart_box .x-axis li {
	float: left;
	margin: 0 11px;
	padding: 4px 0px;
	width: 65px;
	position: relative;
	line-height: 1.5;
	font-weight: bold;
	background: none;
}

.chart_box .x-axis li:after{
	/* content: ""; */
	position: absolute;
	right: -12px;
	height: 100%;
	width: 1px;
	background: #000000;
	top: 1px;
}

.chart_box .x-axis li:last-child:after{
	display: none;
}

/*Y-Axis */
.chart_box .y-axis {
	color: #555;
	position: absolute;
	text-align: right;
	width: 100%;
	bottom: 0;
}
.chart_box .y-axis li {
	border-top: 1px solid transparent;
	display: flex;
	align-items: flex-end;
	height: 62px;
	width: 100%;
	text-align: left;
	background: none;
    padding: 0;
    margin: 0;
    position: relative;
}
.chart_box .y-axis li:last-child {
	/* border-top: 1px solid #000; */
}
.chart_box .y-axis li span {
	font-weight: bold;
	display: block;
	margin: 0 0 -9px -61px;
	padding: 0 10px;
	width: 60px;
	text-align: right;
	
}

.chart_box .y-axis li span:before{
	content: "-";
	display: inline-block;
	position: absolute;
	left: -5px;
}

.chart_box .y-axis li span:after{
	content: "-";
	display: inline-block;
	position: absolute;
	left: -4px;
	top: 50%;
	height: 1px;
	background: #000;
	overflow: hidden;
	width: 3px;
}

.chart_box .y-axis li:first-child span:after{
	display: none;
}

.y-axis:before{
	content: "($)";
	display: inline-block;
	position: absolute;
	left: -70px;
	top: 50%;
	transform: translateY(-50%);
	font-weight: bold;
}
.y-axis.thusands:before{
	content: "($1K)";
}
.y-axis.millions:before{
	content: "($1M)";
}

/* Graph Bars */
.bars {
	height: calc(100% - 57.33px);
	position: absolute;
	width: 100%;
	z-index: 10;
	bottom: -1px;
	margin: 57.3333px 0 0 0;
}
.bar-group {
	float: left;
	height: 100%;
	margin: 0 12px;
	position: relative;
	width: 62px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.bar {
	/* border-radius: 3px 3px 0 0; */
	bottom: 0;
	/* cursor: pointer; */
	height: 0;
	position: absolute;
	text-align: center;
	width: 24px;
	margin: 0 auto;
	font-weight: bold;
}
.bar.fig0 {
	left: 0;
	right: 0;
	z-index: 1;
	width: 32px;
}
.bar.fig1 {
	left: 0;
	right: 0;
	width: 56px;
}
.bar.fig2 {
	left: 52px;
}
.bar span {
	/* background: #fefefe; */
	border-radius: 3px;
	left: 0;
	top: -20px;
	/* display: none; */
	margin: 0 auto;
	position: relative;
	/* text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0; */
	/* width: 31px; */
	z-index: 20;
	/* -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px; */
	/* box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px; */
	overflow: hidden;
	display: inline-block!important;
	white-space: nowrap;
	letter-spacing: 0.3px;
}
.bar:hover span {
	/* display: block; */
	/* margin-top: -25px; */
}

.bar.fig1 span {
	top: -30px;
}




/*responsive*/

@media(max-width: 991px){
	.bar-group{
		margin: 0 8px;
	}

	.bar.fig0{
		width: 27px;
	}
	.bar.fig1{
		width: 54px;
	}
	.bar-group{
		width: 56px;
	}
	.x-axis li{
		width: 50px;
		margin: 0 8px;
	}
	.x-axis li:after{
		right: -8px;
	}

	#figure{
		padding: 0 70px;
		height: 510px;
	}

	.chart_box{
		overflow: auto;
	}

	#graphtable{
		min-width: 610px;
	}

	.chart_box .legend li{
		margin-bottom: 0;
		display: inline-flex;
	}

	.chart_box .x-axis li{
		margin: 0 8px;
		width: 55px;
	}

	#figure ul.legend{
		right: 0px;
		left: 0;
		width: 100%;
		bottom: -120px;
		top: auto;
		transform: translateY(0);
		text-align: center;
		display: block;
	}

	.legend li{
		padding: 5px 10px;
		width: 70px;
		display: block;
		height: auto;
	}

	.legend span.icon{

	}

}

@media(max-width: 767px){
	#figure	{
		/* width: 610px; */
		overflow: auto;
	}
}
