/* .notablesponser,
.sponser_mediabox {
   width: calc(50% - 30px);
}

@media screen and (max-width: 640px) {

   .notablesponser,
   .sponser_mediabox {
      width: 100%;
   }
} */

.exhibfurther {
   width: 66.67%;
   padding: 10px 0 0 20px;
}

.exhibfeature {
   width: 33.33%;
}