.notablesponser,
.sponser_mediabox {
   width: calc(50% - 30px);
}

@media screen and (max-width: 640px) {

   .notablesponser,
   .sponser_mediabox {
      width: 100%;
   }
}

.exhibfurther {
   width: 66.67%;
   padding: 10px 0 0 20px;
}

.exhibfeature {
   width: 33.33%;
}

.recomendbox_in h4 {
   margin-bottom: 20px;
}

.recom_row:nth-last-child(2){
   border-bottom: 1px solid #b8b8b8;
    padding: 0 0 17px;
    margin: 0 0 18px;
}

.recom_row:last-child{
   border-bottom: 0;
}